.header-inventory {
  display: flex;
  margin-bottom: 22px;
  justify-content: space-between;
  position: relative;
  .search-input {
    svg {
      margin: 0;
      position: absolute;
      left: 1%;
      top: 16%;
      width: 1em;
      height: 1em;
    }
    input {
      width: 100%;
      border: 1px solid #666;
      border-radius: 3px;
    }
  }
}

.inventory-list {
  width: 100%;
  margin-top: 20px;
  .inventory-product-card {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
  }
  .product-img {
    width: 155px;
    height: 155px;
  }

  .product-stock {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 10px;
  }

}
