<div class="footer">
  <div class="footer-menu">
    <div class="footer-item">
      <h4>Héron</h4>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>
    <div class="footer-item">
      <h4>Merchant</h4>
      <ul>
        <li><a href="../posts/new">Apply</a></li>
      </ul>
    </div>
    <div class="footer-item">
      <h4>My Account</h4>
      <ul>
        <li><a href="#">My Orders</a></li>
        <li><a href="#">My Wishlist</a></li>
        <li><a href="#">My Information</a></li>
      </ul>
    </div>
    <div class="footer-item">
      <h4>Shop</h4>
      <ul>
        <li><a href="#">Fashion</a></li>
        <li><a href="#">Home Decor</a></li>
        <li><a href="#">Beauty</a></li>
        <li><a href="#">Food</a></li>
      </ul>
    </div>
    <div class="footer-item">
      <div id="footer-contact">
        <h4>Contact Us</h4>
        <p>1234 Sainte-Catherine<br>H3J 2H4, Montreal</p>
        <p>(514) 123-4567</p>
      </div>
      <div class="footer-socials">
        <a href="#"><%= image_tag 'facebook-icon' %></a>
        <a href="#"><%= image_tag 'instagram-icon' %></a>
      </div>
    </div>
    <div class="footer-item-mobile">
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Terms and Conditions</a></li>
        <li><a href="#">Confidentiality Policies</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

      <div class="footer-socials">
        <a href="#"><%= image_tag 'facebook-icon' %></a>
        <a href="#"><%= image_tag 'instagram-icon' %></a>
      </div>
    </div>
  </div>
  <div class="footer-credit">
    <p>© 2020 - Héron</p>
    <a href="#">Terms and Conditions</a>
    <a href="#">Confidentiality Policies</a>
  </div>
</div>
