<div class="footer">
  <div class="footer-menu">
    <div class="footer-item">
      <h4>Héron</h4>
      <ul>
        <li><a href="#">À propos</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>
    <div class="footer-item">
      <h4>Mon compte</h4>
      <ul>
        <li><a href="#">Mes commandes</a></li>
        <li><a href="#">Liste de souhaits</a></li>
        <li><a href="#">Mes infos</a></li>
      </ul>
    </div>
    <div class="footer-item">
      <h4>Magasinez</h4>
      <ul>
        <li><a href="#">Mode</a></li>
        <li><a href="#">Décorations</a></li>
        <li><a href="#">Beauté</a></li>
        <li><a href="#">Alimentation</a></li>
      </ul>
    </div>
    <div class="footer-item">
      <div id="footer-contact">
        <h4>Mon compte</h4>
        <p>1234 Sainte-Catherine<br>H3J 2H4, Montreal</p>
        <p>(514) 123-4567</p>
      </div>
      <div class="footer-socials">
        <a href="#"><%= image_tag 'facebook-icon' %></a>
        <a href="#"><%= image_tag 'instagram-icon' %></a>
      </div>
    </div>
  </div>
  <div class="footer-credit">
    <p>© 2020 - Héron</p>
    <a href="#">Termes et conditions</a>
    <a href="#">Politiques de confidentialité</a>
  </div>
</div>
