<div class="merchant-container">
  <h1>Merchant Application</h1>
  <h6>Heron Market pride itself in offering products and promoting brands whose value align with ours.
  If one of the following apply to you, you are more than welcome to apply and <strong>let's connect!</strong></h6>

  <div class="application-form">
  </div>
</div>
