<div class="content">
  <div class="connexion-forms">
    <ul class="tab-group">
      <li id="signup-tab" class="tab">Sign Up</li>
      <li id="login-tab" class="tab active">Log In</li>
    </ul>

      <div class="tab-content">
        <div id="login" class="user-forms">
          <%= render 'devise/sessions/new' %>
        </div>
        <div id="signup" class="user-forms hidden">
          <%= render 'devise/registrations/new' %>
        </div>
      </div>
  </div>
</div>

