<div class="content merchant-container">
  <div class="row merchant-form">
    <div class="col-xs-12 col-sm-10">
      <h1>Thank You for for application</h1>
      <h6>We will review your application and we will contact you shortly!</h6>
      <p><em>- Heron Market Team</em></p>
    </div>
  </div>
</div>

