<div class="content merchant-containe">
  <div class="row merchant-form">
    <div class="col-xs-12 col-sm-10">
      <%= render 'form' %>
    </div>
    <div class="col-xs-12 col-sm-10">
      <%= render 'confirmation' %>
    </div>
  </div>
</div>
