<div class="content merchant-container">
  <div class="merchant-form">
    <div id="form-merchant">
      <%= render 'form' %>
    </div>
    <div class="hidden" id="confirmation-merchant">
      <%= render 'confirmation' %>
    </div>
  </div>
</div>
