<div class="content merchant-container">
  <div class="row merchant-form">
    <div class="col-xs-12 col-sm-10 form-merchant" id="form-merchant">
      <%= render 'form' %>
    </div>
    <div class="col-xs-12 col-sm-10 confirmation-message hidden" id="confirmation-merchant">
      <%= render 'confirmation' %>
    </div>
  </div>
</div>
