.ap-suggestion {
  cursor: pointer;
  line-height: 46px;
  padding-left: 18px;
  overflow: hidden;
  width: 100%;
}
.ap-suggestion-icon {
  display: none;
}

// target svg for size and position
.ap-input-icon svg{
  width: 100%;
  top: 49%;
  left: -23%;
  margin:0px;
}
