.breadcrumb{
  background: white;
  font-family: $poppins;
  font-size: 0.7rem;
}
.breadcrumb-item{
  a{
    color: $light-gray;
  }
}
.breadcrumb-item.active {
  color: $gray;
}

/* For a screen < 540px, this CSS will be read */
@media (max-width: 540px) {
  .breadcrumb {
    font-size: 0.875rem;
  }
}
