.add-cart-btn,
.grey-btn {
  border-radius: 4px;
  background: #696969;
  color: white;
  font-family: $poppins;
  padding: 8px 10px;
  text-align: center;
  border: 0;
  width: 250px;
  &:hover{
    color: white;
    // box-shadow:
  }
}
.submit-button {
  text-align: center;
}

