.content{
  margin: 40px 80px;
}
/* For a screen < 960px, this CSS will be read */
@media (max-width: 960px) {
  .content{
  margin: 40px 10px;
  }
}

/* For a screen < 720px, this CSS will be read */
@media (max-width: 720px) {
  .content{
  margin: 40px 10px;
  }
}

/* For a screen < 540px, this CSS will be read */
@media (max-width: 540px) {
  .content{
  margin: 40px 10px;
  }
}








