.filters{
  h5{
    padding-bottom: 4px;
    font-size: 18px;
  }
  ul{
    border-top: 2px solid black;
    list-style:none;
    padding-left: 0;
    padding-top: 10px;
    font-family: $poppins;
    font-weight: 200;
    font-size: 12px;
  }
    .filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* For a screen < 960px, this CSS will be read */
@media (max-width: 960px) {

}

/* For a screen < 720px, this CSS will be read */
@media (max-width: 720px) {
  .filters{
    display: none;
  }
}

/* For a screen < 540px, this CSS will be read */
@media (max-width: 540px) {

}
