.filters{
  h5{
    padding-bottom: 4px;
    font-size: 18px;
  }
  ul{
    border-top: 2px solid black;
    list-style:none;
    padding-left: 0;
    padding-top: 10px;
    font-family: $poppins;
    font-weight: 200;
    font-size: 15px;
  }
    .filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
