.connexion-forms{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:50px;
}

.tab-group{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
  text-align: center;
  width: 50%;
  li{
    align-self:center;
  }
}

.tab{
  border-bottom: 4px solid black;
  width: 50%;
  opacity: 0.3;
  margin-left: 8px;
  &:hover{
    cursor: pointer;
  }
}

.hidden{
  display:none!important;
}

.tab-content{
  width: 70%;
  h2{
    text-align: center;
    font-size: 24px;
  }
}
.user-forms{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form{
  width: 80%;
}

/* For a screen < 960px, this CSS will be read */
@media (max-width: 960px) {
    .connexion-forms{
    margin:50px 0;
  }
  .tab-content{
    width: 100%;
  }
}

/* For a screen < 720px, this CSS will be read */
@media (max-width: 720px) {
  .connexion-forms{
    margin:50px 0;
  }
  .tab-content{
    width: 100%;
  }
}

/* For a screen < 540px, this CSS will be read */
@media (max-width: 540px) {
  .connexion-forms{
    margin:50px 0;
  }
  .tab-content{
    width: 100%;
  }
}

