.header{
  margin-top: 40px;
  //remove the margin bottom when we have filters ans search bar
  margin-bottom: 40px;
  height: 110px;
  background: #D7ECF1;
  position: relative;
  h1{
    // font-family: $poppins;
    font-weight: 400;
    position: absolute;
    top: -26px;
    left: 14px;
  }
}
