.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 8px 22px;
  a {
    text-decoration: none;
    color: black;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin-left: 16px;
  }
}
.logo-category-menu {
  display: flex;
  align-items: center;
  img {
    height: 28px;
    margin-right: 30px;
  }
}

.categories-list {
  display: flex;
  font-family: $poppins;
  justify-content: space-evenly;
  font-weight: 300;
}

.icons-menu {
  display: flex;
}

.icon {
  img {
    width: 16px;
  }
}

.user-love-icon-menu {
  display: flex;
  font-family: $poppins;
}

.shopping-bag {
  position: relative;
}

.num-item-in-cart {
  position: absolute;
  top: 32%;
  left: 37%;
  font-family: $poppins;
  font-size: 10px;
  z-index: 100;
  color: white;
}

.no-display {
  display: none;
}

.language-icon-menu {
  font-family: $poppins;
}


//login and sign up menu
#user-menu {
  position: relative;
  text-align: right;
  right: 100px;
  top: -10px;
  a {
    color: $gray;
    opacity: 0.7;
    font-family: $poppins;
    &:hover {
      opacity:1;
    }
  }
}
//mobile menu
.burger-menu {
  display:none;
}
.nav-link {
  img {
    width: 20px;
  }
}

.logo img {
  height: 30px;
  width: auto;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */

}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .nav-bar {
    justify-content: space-between;
    padding:0;
    li {
      margin-left: 0;
    }
  }

  .categories-list,
  .user-love-icon-menu,
  .language-icon-menu {
    display: none;
  }
  .burger-menu {
    display: block;
    ul {
    padding-left: 0;
    }
  }
}
