// admin comment about merchant
.product-comment{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 80px;
}
.blue-square{
  background: #D7ECF1;
  width: 100%;
  height: 180px;
}
.comment{
  background: $light-gray;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  position: relative;
  top: 80px;
  right: 130px;
  p{
    margin-bottom: 0;
  }
}
#founder{
  width: 50%;
  font-family: $poppins;
  font-style: italic;
  #line{
    width: 33%;
    border-top: 1px solid black;
  }
  p{
    margin-top: 8px;
    text-align: left;
  }
}

#opening-icon{
  width: 100%;
  display: flex;
  margin-bottom: 8px;
  img{
    width: 20px;
    transform: rotate(180deg);
  }
}
#closing-icon{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  img{
    width: 20px;
  }
}

/* For a screen < 540px, this CSS will be read */
@media (max-width: 540px) {
  .product-comment{
    width: 100vw;
  }

  .blue-square{
    display: none;
  }

  .comment{
    background: #D7ECF1;
    text-align: start;
    top: 0px;
    right: 10px;
  }

  #opening-icon img{
    position: relative;
    right: 10%;
    width: 24px;
  }

  #closing-icon img{
    position: relative;
    left: 5%;
    width: 24px;
  }

  #founder{
    width: 100%;
    p{
      text-align: start;
    }
  }

  #line {
    width: 25%;
  }
}


