.product-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.product-img{
  height: 250px;
  width: 250px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
}
.product-icons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.icon-btn{
  img{
    width:30px;
  }
}
.price{
  padding: 10px;
  font-size: 1.3rem;
  font-family: $pt-serif;
}
.product-infos{
  h4{
    font-size: 1.04rem;
    margin-bottom: 0;
    margin-top: 10px;
  }
  a{
    color: black;
  }
  p{
    color: #939393;
  }
}
