.product-img{
  height: 250px;
  width: 250px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
}
.product-icons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.icon-btn{
  img{
    width:30px;
  }
}
.price{
  padding: 10px;
  font-size: 1.3rem;
  font-family: $pt-serif;
}
.product-infos{
  h4{
    font-size: 1.04rem;
    margin-bottom: 0;
    margin-top: 10px;
  }
  a{
    color: black;
  }
  p{
    color: #939393;
  }
}

/* For a screen < 960px, this CSS will be read */
@media (max-width: 960px) {

}

/* For a screen < 720px, this CSS will be read */
@media (max-width: 720px) {
  .product-img{
  height: 180px;
  width: 100%;
  }
  .price{
    font-size: 1rem;
  }
  .product-infos{
    h4{
      font-size: 1.02rem;
    }
    p{
      font-size: 1rem;
    }
  }
}

/* For a screen < 540px, this CSS will be read */
@media (max-width: 540px) {

}
