<h1>Thank you!</h1>

<p>Hi <%= @merchant.email %>,</p>

<p>Thank you for your application to Heron Market!</p>
<p>Your application will be reviewed and you will be contacted shortly.</p>

<p>Kind regards,</p>
<p><em>Heron Market Team</em></p>

<p> <%= link_to "Go Back to Heron Market", root_url %></p>
