<h1>Thank you!</h1>

Hi <%= @merchant.email %>,

Thank you for your application to Heron Market!
Your application will be reviewed and you will be contacted shortly.

Kind regards,
<em>Heron Market Team</em>
